Options +FollowSymLinks +ExecCGI
RewriteEngine On

RewriteRule ^members(/)?$ /members.php [NC]
RewriteRule ^publications(/)?$ /publications.php [NC]
RewriteRule ^lin(/)?$ /lin.php [NC]
RewriteRule ^sponsors(/)?$ /sponsors.php [NC]
RewriteRule ^news(/)?$ /news.php [NC]
RewriteRule ^news/archive(/)?$ /archive.php [NC]

# Research Rewrite Rules
RewriteRule ^research(/)?$ /research.php [NC]
RewriteRule ^research/mems(/)?$ /research.php?field=1 [NC]
RewriteRule ^research/nems(/)?$ /research.php?field=2 [NC]
RewriteRule ^research/nanomaterials(/)?$ /research.php?field=3 [NC]
RewriteRule ^research/biomems(/)?$ /research.php?field=4 [NC]
RewriteRule ^research/energy(/)?$ /research.php?field=5 [NC]

# Redirect Rules With Slashes
#Redirect 301 /archive/ /news/archive/
Redirect 301 /mems/ /research/mems/
Redirect 301 /nems/ /research/nems/
Redirect 301 /nanomaterials/ /research/nanomaterials/
Redirect 301 /biomems/ /research/biomems/
Redirect 301 /energy/ /research/energy/

# Redirect Rules Without Slashes
#Redirect 301 /archive /news/archive/
Redirect 301 /mems /research/mems/
Redirect 301 /nems /research/nems/
Redirect 301 /nanomaterials /research/nanomaterials/
Redirect 301 /biomems /research/biomems/
Redirect 301 /energy /research/energy/
